<div id="<%= dom_id emprestimo %>">
  <p>
    <strong>Livro:</strong>
    <%= emprestimo.livro_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= emprestimo.usuario_id %>
  </p>

  <p>
    <strong>Data emprestimo:</strong>
    <%= emprestimo.data_emprestimo %>
  </p>

  <p>
    <strong>Data devolucao prevista:</strong>
    <%= emprestimo.data_devolucao_prevista %>
  </p>

  <p>
    <strong>Data devolucao real:</strong>
    <%= emprestimo.data_devolucao_real %>
  </p>

</div>
