<%= form_with(model: emprestimo) do |form| %>
  <% if emprestimo.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(emprestimo.errors.count, "erro") %> impediram este empréstimo de ser salvo:</h2>
      <ul>
        <% emprestimo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :livro_id, class: "form-label" %>
    <%= form.text_field :livro_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :usuario_id, class: "form-label" %>
    <%= form.text_field :usuario_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_emprestimo, class: "form-label" %>
    <%= form.date_field :data_emprestimo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_devolucao_prevista, class: "form-label" %>
    <%= form.date_field :data_devolucao_prevista, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_devolucao_real, class: "form-label" %>
    <%= form.date_field :data_devolucao_real, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Salvar Empréstimo", class: "btn btn-primary" %>
  </div>
<% end %>
