<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <%= render @perfil %>

  <div class="mt-4 d-flex gap-2">
    <%= link_to "Editar este perfil", edit_perfil_path(@perfil), class: "btn btn-primary" %>
    <%= link_to "Voltar para perfis", perfils_path, class: "btn btn-secondary" %>
    <%= button_to "Excluir este perfil", @perfil, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger" %>
  </div>
</div>
