<div id="<%= dom_id livro %>" class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title"><strong><%= livro.titulo %></strong></h5>
    <h6 class="card-subtitle text-muted mb-3">Autor: <%= livro.autor %></h6>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Editora:</strong> <%= livro.editora %></li>
      <li class="list-group-item"><strong>Ano de Publicação:</strong> <%= livro.ano_publicacao %></li>
      <li class="list-group-item"><strong>ISBN:</strong> <%= livro.isbn %></li>
      <li class="list-group-item"><strong>Categoria ID:</strong> <%= livro.categoria_id %></li>
    </ul>
  </div>
</div>
