<div id="<%= dom_id livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= livro.titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Editora:</strong>
    <%= livro.editora %>
  </p>

  <p>
    <strong>Ano publicacao:</strong>
    <%= livro.ano_publicacao %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= livro.isbn %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= livro.categoria_id %>
  </p>

</div>
